spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&useSSL=false
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true

kakao:
  client-id: ${KAKAO_CLIENT_ID}
  redirect-uri: ${KAKAO_REDIRECT_URI}

openai:
  api-key: ${OPENAI_API_KEY}
  model: "gpt-4o-mini"
  api-url: "https://api.openai.com/v1/chat/completions"

server:
  servlet:
    session:
      cookie:
        same-site: none
        secure: true